In [28]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns

import time
import math
import datetime
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import MinMaxScaler

In [29]:
merge_df_scaled = pd.read_csv("../raw_data/cleaned_merge_df_top10.csv")

In [30]:
merge_df_scaled

,date,id,item_id,dept_id,cat_id,store_id,state_id,sales,weekday,wday,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI,sell_price
0,2011-01-29,FOODS_2_197_CA_1_validation,FOODS_2_197,FOODS_2,FOODS,CA_1,CA,38,Saturday,1,0,0,0,0,0,0,0,2.98
1,2011-01-29,FOODS_3_080_CA_1_validation,FOODS_3_080,FOODS_3,FOODS,CA_1,CA,33,Saturday,1,0,0,0,0,0,0,0,1.48
2,2011-01-29,FOODS_3_090_CA_1_validation,FOODS_3_090,FOODS_3,FOODS,CA_1,CA,107,Saturday,1,0,0,0,0,0,0,0,1.25
3,2011-01-29,FOODS_3_120_CA_1_validation,FOODS_3_120,FOODS_3,FOODS,CA_1,CA,0,Saturday,1,0,0,0,0,0,0,0,0.00
4,2011-01-29,FOODS_3_252_CA_1_validation,FOODS_3_252,FOODS_3,FOODS,CA_1,CA,19,Saturday,1,0,0,0,0,0,0,0,1.48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19125,2016-04-24,FOODS_3_555_CA_1_validation,FOODS_3_555,FOODS_3,FOODS,CA_1,CA,24,Sunday,2,0,0,0,0,0,0,0,1.68
19126,2016-04-24,FOODS_3_586_CA_1_validation,FOODS_3_586,FOODS_3,FOODS,CA_1,CA,54,Sunday,2,0,0,0,0,0,0,0,1.68
19127,2016-04-24,FOODS_3_587_CA_1_validation,FOODS_3_587,FOODS_3,FOODS,CA_1,CA,26,Sunday,2,0,0,0,0,0,0,0,2.48
19128,2016-04-24,FOODS_3_714_CA_1_validation,FOODS_3_714,FOODS_3,FOODS,CA_1,CA,27,Sunday,2,0,0,0,0,0,0,0,1.58
19129,2016-04-24,FOODS_3_808_CA_1_validation,FOODS_3_808,FOODS_3,FOODS,CA_1,CA,0,Sunday,2,0,0,0,0,0,0,0,1.00

In [31]:
merge_df_scaled["date"] = pd.to_datetime(merge_df_scaled["date"])

In [32]:
merge_df_scaled.set_index("date",inplace=True)

In [33]:
merge_df_scaled

,id,item_id,dept_id,cat_id,store_id,state_id,sales,weekday,wday,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI,sell_price
date,,,,,,,,,,,,,,,,,
2011-01-29,FOODS_2_197_CA_1_validation,FOODS_2_197,FOODS_2,FOODS,CA_1,CA,38,Saturday,1,0,0,0,0,0,0,0,2.98
2011-01-29,FOODS_3_080_CA_1_validation,FOODS_3_080,FOODS_3,FOODS,CA_1,CA,33,Saturday,1,0,0,0,0,0,0,0,1.48
2011-01-29,FOODS_3_090_CA_1_validation,FOODS_3_090,FOODS_3,FOODS,CA_1,CA,107,Saturday,1,0,0,0,0,0,0,0,1.25
2011-01-29,FOODS_3_120_CA_1_validation,FOODS_3_120,FOODS_3,FOODS,CA_1,CA,0,Saturday,1,0,0,0,0,0,0,0,0.00
2011-01-29,FOODS_3_252_CA_1_validation,FOODS_3_252,FOODS_3,FOODS,CA_1,CA,19,Saturday,1,0,0,0,0,0,0,0,1.48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-04-24,FOODS_3_555_CA_1_validation,FOODS_3_555,FOODS_3,FOODS,CA_1,CA,24,Sunday,2,0,0,0,0,0,0,0,1.68
2016-04-24,FOODS_3_586_CA_1_validation,FOODS_3_586,FOODS_3,FOODS,CA_1,CA,54,Sunday,2,0,0,0,0,0,0,0,1.68
2016-04-24,FOODS_3_587_CA_1_validation,FOODS_3_587,FOODS_3,FOODS,CA_1,CA,26,Sunday,2,0,0,0,0,0,0,0,2.48
2016-04-24,FOODS_3_714_CA_1_validation,FOODS_3_714,FOODS_3,FOODS,CA_1,CA,27,Sunday,2,0,0,0,0,0,0,0,1.58
2016-04-24,FOODS_3_808_CA_1_validation,FOODS_3_808,FOODS_3,FOODS,CA_1,CA,0,Sunday,2,0,0,0,0,0,0,0,1.00

# ARIMA with MAE

In [34]:
from sklearn.model_selection import TimeSeriesSplit
from sklearn.metrics import mean_absolute_error
from statsmodels.tsa.arima.model import ARIMA
import warnings

# Auto_ARIMA with MAE

In [47]:
import dask
from dask.distributed import Client
from pmdarima import auto_arima
import pandas as pd
import numpy as np
from sklearn.metrics import mean_absolute_error
import os
import pickle

# Start a Dask client
client = Client()

# Dictionary to store MAE results for each unique time-series identified by id
product_results = {}
auto_arima_models = {}

# Define a function to perform Auto ARIMA
def perform_auto_arima(product_data):
    data_train = product_data.iloc[:-28]
    data_test = product_data.iloc[-28:]
    y_train = data_train["sales"]
    y_test = data_test["sales"]

    # Fit ARIMA model on the training data using auto_arima to find the best (p, d, q)
    model = auto_arima(y_train, start_p=0, start_q=0, max_p=5, max_q=5, d=1,
                       seasonal=True, trace=False, error_action='ignore', 
                       suppress_warnings=True, stepwise=True)
    
    # Predict on the test data
    predictions = model.predict(n_periods=len(y_test))

    # Calculate and return the error metric for the current fold
    mae = mean_absolute_error(y_test, predictions)
    
    return model, mae

# Iterate over each unique product series identified by id
for id in merge_df_scaled['id'].unique():
    print(f"Analyzing product: {id}")
    product_data = merge_df_scaled[merge_df_scaled['id'] == id]

    # Perform Auto ARIMA in parallel
    future = client.submit(perform_auto_arima, product_data)
    model, mae = client.gather(future)

    # Store the model in the dictionary with id as key
    auto_arima_models[id] = model

    # Store the average MAE for the current product time-series
    product_results[id] = mae
    print(f'Mean Absolute Error for {id}: {mae}')
    filename = f'../models/{id}_model.pkl'
    with open(filename, 'wb') as f:
        pickle.dump(model, f)

# Optionally, you could print or analyze the average MAE across all products
average_mae_across_products = np.mean(list(product_results.values()))
print(f'Average Mean Absolute Error across all products: {average_mae_across_products}')

# Handle possible convergence warnings
warnings.filterwarnings("ignore")

Analyzing product: FOODS_2_197_CA_1_validation
Mean Absolute Error for FOODS_2_197_CA_1_validation: 8.726633436944372
Analyzing product: FOODS_3_080_CA_1_validation
Mean Absolute Error for FOODS_3_080_CA_1_validation: 6.034984090618189
Analyzing product: FOODS_3_090_CA_1_validation
Mean Absolute Error for FOODS_3_090_CA_1_validation: 19.479598099076547
Analyzing product: FOODS_3_120_CA_1_validation
Mean Absolute Error for FOODS_3_120_CA_1_validation: 24.7807297967242
Analyzing product: FOODS_3_252_CA_1_validation
Mean Absolute Error for FOODS_3_252_CA_1_validation: 6.680438583319882
Analyzing product: FOODS_3_555_CA_1_validation
Mean Absolute Error for FOODS_3_555_CA_1_validation: 4.34514653363894
Analyzing product: FOODS_3_586_CA_1_validation
Mean Absolute Error for FOODS_3_586_CA_1_validation: 7.991362870463669
Analyzing product: FOODS_3_587_CA_1_validation
Mean Absolute Error for FOODS_3_587_CA_1_validation: 15.636063191263302
Analyzing product: FOODS_3_714_CA_1_validation
Mean Absolute Error for FOODS_3_714_CA_1_validation: 5.562177263967554
Analyzing product: FOODS_3_808_CA_1_validation
Mean Absolute Error for FOODS_3_808_CA_1_validation: 3.219758128147768
Average Mean Absolute Error across all products: 10.245689199416443

In [48]:
average_mae_across_products

10.245689199416443

In [45]:
auto_arima_models

{'FOODS_2_197_CA_1_validation': ARIMA(order=(2, 1, 1), scoring_args={}, suppress_warnings=True,
       with_intercept=False),
 'FOODS_3_080_CA_1_validation': ARIMA(order=(5, 1, 1), scoring_args={}, suppress_warnings=True,
       with_intercept=False),
 'FOODS_3_090_CA_1_validation': ARIMA(order=(4, 1, 3), scoring_args={}, suppress_warnings=True,
       with_intercept=False),
 'FOODS_3_120_CA_1_validation': ARIMA(order=(5, 1, 4), scoring_args={}, suppress_warnings=True,
       with_intercept=False),
 'FOODS_3_252_CA_1_validation': ARIMA(order=(5, 1, 5), scoring_args={}, suppress_warnings=True,
       with_intercept=False),
 'FOODS_3_555_CA_1_validation': ARIMA(order=(4, 1, 4), scoring_args={}, suppress_warnings=True,
       with_intercept=False),
 'FOODS_3_586_CA_1_validation': ARIMA(order=(2, 1, 3), scoring_args={}, suppress_warnings=True,
       with_intercept=False),
 'FOODS_3_587_CA_1_validation': ARIMA(order=(3, 1, 3), scoring_args={}, suppress_warnings=True,
       with_intercept=False),
 'FOODS_3_714_CA_1_validation': ARIMA(order=(5, 1, 5), scoring_args={}, suppress_warnings=True,
       with_intercept=False),
 'FOODS_3_808_CA_1_validation': ARIMA(order=(5, 1, 5), scoring_args={}, suppress_warnings=True,
       with_intercept=False)}