In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [7]:
df = pd.read_csv("../raw_data/cleaned_merge_df.csv")

/tmp/ipykernel_52471/85191857.py:1: DtypeWarning: Columns (13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../raw_data/cleaned_merge_df.csv")

In [8]:
df[df["id"]=="FOODS_3_180_CA_1_validation"]

,id,item_id,dept_id,cat_id,store_id,state_id,d,sales,wm_yr_wk,weekday,wday,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI,sell_price
0,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_1,0,11101,Saturday,1,0,0,0,0,0,0,0,0.00
200,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_2,0,11101,Sunday,2,0,0,0,0,0,0,0,0.00
400,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_3,0,11101,Monday,3,0,0,0,0,0,0,0,0.00
600,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_4,0,11101,Tuesday,4,0,0,0,0,1,1,0,0.00
800,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_5,0,11101,Wednesday,5,0,0,0,0,1,0,1,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
381600,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_1909,0,11612,Wednesday,5,0,0,0,0,0,0,0,2.98
381800,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_1910,0,11612,Thursday,6,0,0,0,0,0,0,0,2.98
382000,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_1911,0,11612,Friday,7,0,0,0,0,0,0,0,2.98
382200,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_1912,1,11613,Saturday,1,0,0,0,0,0,0,0,2.98
382400,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_1913,0,11613,Sunday,2,0,0,0,0,0,0,0,2.98

In [10]:
def rmsse(train, test, forecast):
    forecast_mse = np.mean((test - forecast)**2, axis=1)
    train_mse = [np.mean((np.diff(np.trim_zeros(row))**2)) for row in train]
    return np.sqrt(forecast_mse / train_mse)

In [25]:
oneproduct = df[df["id"]=="FOODS_3_180_CA_1_validation"]

In [26]:
# Calculate the split index
index = len(oneproduct) - 28  # The last index minus 28 days
# Split the data
df_train_oneproduct = oneproduct.iloc[:index]
df_test_oneproduct = oneproduct.iloc[index:]
# Check the length of training and test sets
print("Number of days in df_train:", len(df_train))
print("Number of days in df_test:", len(df_test))

Number of days in df_train: 382572
Number of days in df_test: 28

In [27]:
df_test

,id,item_id,dept_id,cat_id,store_id,state_id,d,sales,wm_yr_wk,weekday,wday,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI,sell_price
382572,FOODS_3_367_CA_2_validation,FOODS_3_367,FOODS_3,FOODS,CA_2,CA,d_1913,6,11613,Sunday,2,0,0,0,0,0,0,0,2.68
382573,FOODS_2_311_TX_3_validation,FOODS_2_311,FOODS_2,FOODS,TX_3,TX,d_1913,2,11613,Sunday,2,0,0,0,0,0,0,0,2.42
382574,HOUSEHOLD_1_390_TX_2_validation,HOUSEHOLD_1_390,HOUSEHOLD_1,HOUSEHOLD,TX_2,TX,d_1913,0,11613,Sunday,2,0,0,0,0,0,0,0,1.83
382575,FOODS_2_355_WI_2_validation,FOODS_2_355,FOODS_2,FOODS,WI_2,WI,d_1913,0,11613,Sunday,2,0,0,0,0,0,0,0,2.50
382576,FOODS_3_765_CA_3_validation,FOODS_3_765,FOODS_3,FOODS,CA_3,CA,d_1913,2,11613,Sunday,2,0,0,0,0,0,0,0,3.00
382577,HOUSEHOLD_1_408_TX_2_validation,HOUSEHOLD_1_408,HOUSEHOLD_1,HOUSEHOLD,TX_2,TX,d_1913,0,11613,Sunday,2,0,0,0,0,0,0,0,5.48
382578,FOODS_3_328_CA_4_validation,FOODS_3_328,FOODS_3,FOODS,CA_4,CA,d_1913,0,11613,Sunday,2,0,0,0,0,0,0,0,3.88
382579,FOODS_2_223_CA_2_validation,FOODS_2_223,FOODS_2,FOODS,CA_2,CA,d_1913,0,11613,Sunday,2,0,0,0,0,0,0,0,2.18
382580,HOBBIES_1_375_WI_3_validation,HOBBIES_1_375,HOBBIES_1,HOBBIES,WI_3,WI,d_1913,1,11613,Sunday,2,0,0,0,0,0,0,0,9.88
382581,FOODS_2_387_CA_1_validation,FOODS_2_387,FOODS_2,FOODS,CA_1,CA,d_1913,1,11613,Sunday,2,0,0,0,0,0,0,0,12.97
382582,HOUSEHOLD_2_485_TX_1_validation,HOUSEHOLD_2_485,HOUSEHOLD_2,HOUSEHOLD,TX_1,TX,d_1913,0,11613,Sunday,2,0,0,0,0,0,0,0,6.97
382583,FOODS_1_148_TX_1_validation,FOODS_1_148,FOODS_1,FOODS,TX_1,TX,d_1913,0,11613,Sunday,2,0,0,0,0,0,0,0,5.47
382584,HOBBIES_2_149_WI_2_validation,HOBBIES_2_149,HOBBIES_2,HOBBIES,WI_2,WI,d_1913,0,11613,Sunday,2,0,0,0,0,0,0,0,0.97
382585,FOODS_2_348_TX_1_validation,FOODS_2_348,FOODS_2,FOODS,TX_1,TX,d_1913,0,11613,Sunday,2,0,0,0,0,0,0,0,5.98
382586,FOODS_3_123_TX_2_validation,FOODS_3_123,FOODS_3,FOODS,TX_2,TX,d_1913,0,11613,Sunday,2,0,0,0,0,0,0,0,2.48
382587,FOODS_2_045_TX_1_validation,FOODS_2_045,FOODS_2,FOODS,TX_1,TX,d_1913,0,11613,Sunday,2,0,0,0,0,0,0,0,6.98
382588,FOODS_3_636_CA_3_validation,FOODS_3_636,FOODS_3,FOODS,CA_3,CA,d_1913,6,11613,Sunday,2,0,0,0,0,0,0,0,3.56
382589,FOODS_2_188_WI_1_validation,FOODS_2_188,FOODS_2,FOODS,WI_1,WI,d_1913,2,11613,Sunday,2,0,0,0,0,0,0,0,2.50
382590,FOODS_2_096_CA_2_validation,FOODS_2_096,FOODS_2,FOODS,CA_2,CA,d_1913,0,11613,Sunday,2,0,0,0,0,0,0,0,7.98
382591,FOODS_3_087_TX_3_validation,FOODS_3_087,FOODS_3,FOODS,TX_3,TX,d_1913,6,11613,Sunday,2,0,0,0,0,0,0,0,2.56
382592,FOODS_2_184_TX_1_validation,FOODS_2_184,FOODS_2,FOODS,TX_1,TX,d_1913,0,11613,Sunday,2,0,0,0,0,0,0,0,3.98
382593,FOODS_3_023_WI_3_validation,FOODS_3_023,FOODS_3,FOODS,WI_3,WI,d_1913,2,11613,Sunday,2,0,0,0,0,0,0,0,3.98
382594,FOODS_2_173_CA_4_validation,FOODS_2_173,FOODS_2,FOODS,CA_4,CA,d_1913,0,11613,Sunday,2,0,0,0,0,0,0,0,8.98
382595,HOUSEHOLD_1_314_WI_2_validation,HOUSEHOLD_1_314,HOUSEHOLD_1,HOUSEHOLD,WI_2,WI,d_1913,0,11613,Sunday,2,0,0,0,0,0,0,0,7.98
382596,FOODS_2_126_CA_4_validation,FOODS_2_126,FOODS_2,FOODS,CA_4,CA,d_1913,1,11613,Sunday,2,0,0,0,0,0,0,0,4.88
382597,FOODS_1_177_TX_1_validation,FOODS_1_177,FOODS_1,FOODS,TX_1,TX,d_1913,0,11613,Sunday,2,0,0,0,0,0,0,0,8.98
382598,FOODS_3_356_WI_2_validation,FOODS_3_356,FOODS_3,FOODS,WI_2,WI,d_1913,0,11613,Sunday,2,0,0,0,0,0,0,0,3.00
382599,FOODS_3_072_CA_3_validation,FOODS_3_072,FOODS_3,FOODS,CA_3,CA,d_1913,3,11613,Sunday,2,0,0,0,0,0,0,0,2.50