In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [7]:
df = pd.read_csv("../raw_data/cleaned_merge_df.csv")

/tmp/ipykernel_52471/85191857.py:1: DtypeWarning: Columns (13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../raw_data/cleaned_merge_df.csv")

In [8]:
df[df["id"]=="FOODS_3_180_CA_1_validation"]

,id,item_id,dept_id,cat_id,store_id,state_id,d,sales,wm_yr_wk,weekday,wday,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI,sell_price
0,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_1,0,11101,Saturday,1,0,0,0,0,0,0,0,0.00
200,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_2,0,11101,Sunday,2,0,0,0,0,0,0,0,0.00
400,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_3,0,11101,Monday,3,0,0,0,0,0,0,0,0.00
600,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_4,0,11101,Tuesday,4,0,0,0,0,1,1,0,0.00
800,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_5,0,11101,Wednesday,5,0,0,0,0,1,0,1,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
381600,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_1909,0,11612,Wednesday,5,0,0,0,0,0,0,0,2.98
381800,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_1910,0,11612,Thursday,6,0,0,0,0,0,0,0,2.98
382000,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_1911,0,11612,Friday,7,0,0,0,0,0,0,0,2.98
382200,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_1912,1,11613,Saturday,1,0,0,0,0,0,0,0,2.98
382400,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_1913,0,11613,Sunday,2,0,0,0,0,0,0,0,2.98

In [10]:
def rmsse(train, test, forecast):
    forecast_mse = np.mean((test - forecast)**2, axis=1)
    train_mse = [np.mean((np.diff(np.trim_zeros(row))**2)) for row in train]
    return np.sqrt(forecast_mse / train_mse)

In [25]:
oneproduct = df[df["id"]=="FOODS_3_180_CA_1_validation"]

In [32]:
oneproduct

,id,item_id,dept_id,cat_id,store_id,state_id,d,sales,wm_yr_wk,weekday,wday,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI,sell_price
0,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_1,0,11101,Saturday,1,0,0,0,0,0,0,0,0.00
200,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_2,0,11101,Sunday,2,0,0,0,0,0,0,0,0.00
400,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_3,0,11101,Monday,3,0,0,0,0,0,0,0,0.00
600,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_4,0,11101,Tuesday,4,0,0,0,0,1,1,0,0.00
800,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_5,0,11101,Wednesday,5,0,0,0,0,1,0,1,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
381600,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_1909,0,11612,Wednesday,5,0,0,0,0,0,0,0,2.98
381800,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_1910,0,11612,Thursday,6,0,0,0,0,0,0,0,2.98
382000,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_1911,0,11612,Friday,7,0,0,0,0,0,0,0,2.98
382200,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_1912,1,11613,Saturday,1,0,0,0,0,0,0,0,2.98
382400,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_1913,0,11613,Sunday,2,0,0,0,0,0,0,0,2.98

In [29]:
# Calculate the split index
index = len(oneproduct) - 28  # The last index minus 28 days
# Split the data
df_train_oneproduct = oneproduct.iloc[:index]
df_test_oneproduct = oneproduct.iloc[index:]
# Check the length of training and test sets
print("Number of days in df_train:", len(df_train_oneproduct))
print("Number of days in df_test:", len(df_test_oneproduct))

Number of days in df_train: 1885
Number of days in df_test: 28

In [31]:
df_test_oneproduct

,id,item_id,dept_id,cat_id,store_id,state_id,d,sales,wm_yr_wk,weekday,wday,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI,sell_price
377000,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_1886,2,11609,Monday,3,0,0,0,0,0,0,0,2.98
377200,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_1887,0,11609,Tuesday,4,0,0,0,0,0,0,0,2.98
377400,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_1888,0,11609,Wednesday,5,0,0,0,0,0,0,0,2.98
377600,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_1889,0,11609,Thursday,6,0,0,0,0,0,0,0,2.98
377800,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_1890,0,11609,Friday,7,0,0,0,0,1,1,0,2.98
378000,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_1891,0,11610,Saturday,1,0,0,0,0,1,0,1,2.98
378200,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_1892,0,11610,Sunday,2,0,0,0,0,1,1,1,2.98
378400,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_1893,0,11610,Monday,3,0,0,0,0,1,0,0,2.98
378600,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_1894,0,11610,Tuesday,4,0,0,0,0,1,1,1,2.98
378800,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_1895,0,11610,Wednesday,5,0,0,0,0,1,1,1,2.98
379000,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_1896,0,11610,Thursday,6,0,0,0,0,1,1,0,2.98
379200,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_1897,0,11610,Friday,7,0,0,0,0,1,0,1,2.98
379400,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_1898,0,11611,Saturday,1,0,0,0,0,1,1,1,2.98
379600,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_1899,1,11611,Sunday,2,0,0,0,0,1,0,0,2.98
379800,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_1900,0,11611,Monday,3,0,0,0,0,0,1,1,2.98
380000,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_1901,0,11611,Tuesday,4,0,0,0,0,0,1,1,2.98
380200,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_1902,0,11611,Wednesday,5,0,0,0,0,0,1,0,2.98
380400,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_1903,1,11611,Thursday,6,0,0,0,0,0,0,1,2.98
380600,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_1904,0,11611,Friday,7,0,0,0,0,0,1,1,2.98
380800,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_1905,0,11612,Saturday,1,0,0,0,0,0,0,0,2.98
381000,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_1906,1,11612,Sunday,2,0,0,0,0,0,0,0,2.98
381200,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_1907,2,11612,Monday,3,0,0,0,0,0,0,0,2.98
381400,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_1908,0,11612,Tuesday,4,0,0,0,0,0,0,0,2.98
381600,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_1909,0,11612,Wednesday,5,0,0,0,0,0,0,0,2.98
381800,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_1910,0,11612,Thursday,6,0,0,0,0,0,0,0,2.98
382000,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_1911,0,11612,Friday,7,0,0,0,0,0,0,0,2.98
382200,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_1912,1,11613,Saturday,1,0,0,0,0,0,0,0,2.98
382400,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_1913,0,11613,Sunday,2,0,0,0,0,0,0,0,2.98