In [1]:
import os

In [22]:
directory_files = os.listdir(path="../raw_data/")[-2:]

In [23]:
directory_files

['sales_train_evaluation.csv', 'sales_train_validation.csv']

In [24]:
from google.cloud import bigquery
import pandas as pd

PROJECT = "wagon-bootcamp-417212"
DATASET = "walmart"

for item in directory_files:
    TABLE = item[:-4]
    
    table = f"{PROJECT}.{DATASET}.{TABLE}"
    
    df = pd.read_csv(f"../raw_data/{item}")
    
    #Add here df colummns
    df.columns = [name if type(name) == str else f"_{name}" for name in df.columns]
    
    client = bigquery.Client()
    
    write_mode = "WRITE_TRUNCATE" # or "WRITE_APPEND"
    job_config = bigquery.LoadJobConfig(write_disposition=write_mode)
    
    job = client.load_table_from_dataframe(df, table, job_config=job_config)
    result = job.result()

In [18]:
df = pd.read_csv(f"../raw_data/sales_train_evaluation.csv")

In [12]:
df.iloc[:,:10]

,date,id,item_id,dept_id,cat_id,store_id,state_id,d,sales,wm_yr_wk
0,2011-01-29,FOODS_3_180_CA_1_validation,FOODS_3_180,FOODS_3,FOODS,CA_1,CA,d_1,0,11101
1,2011-01-29,HOUSEHOLD_2_383_CA_3_validation,HOUSEHOLD_2_383,HOUSEHOLD_2,HOUSEHOLD,CA_3,CA,d_1,2,11101
2,2011-01-29,FOODS_3_409_CA_3_validation,FOODS_3_409,FOODS_3,FOODS,CA_3,CA,d_1,0,11101
3,2011-01-29,FOODS_1_097_CA_2_validation,FOODS_1_097,FOODS_1,FOODS,CA_2,CA,d_1,0,11101
4,2011-01-29,HOBBIES_1_272_TX_2_validation,HOBBIES_1_272,HOBBIES_1,HOBBIES,TX_2,TX,d_1,0,11101
...,...,...,...,...,...,...,...,...,...,...
382595,2016-04-24,HOUSEHOLD_1_314_WI_2_validation,HOUSEHOLD_1_314,HOUSEHOLD_1,HOUSEHOLD,WI_2,WI,d_1913,0,11613
382596,2016-04-24,FOODS_2_126_CA_4_validation,FOODS_2_126,FOODS_2,FOODS,CA_4,CA,d_1913,1,11613
382597,2016-04-24,FOODS_1_177_TX_1_validation,FOODS_1_177,FOODS_1,FOODS,TX_1,TX,d_1913,0,11613
382598,2016-04-24,FOODS_3_356_WI_2_validation,FOODS_3_356,FOODS_3,FOODS,WI_2,WI,d_1913,0,11613
382599,2016-04-24,FOODS_3_072_CA_3_validation,FOODS_3_072,FOODS_3,FOODS,CA_3,CA,d_1913,3,11613

In [17]:
df.iloc[:,14:16].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 382600 entries, 0 to 382599
Data columns (total 2 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   event_name_2  382600 non-null  object
 1   event_type_2  382600 non-null  object
dtypes: object(2)
memory usage: 5.8+ MB